<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @group.gender %>
</p>

<p>
  <strong>Cuantos conciertos este mes</strong>
  <%= @group.qmonth %>
</p>

<p>
  <strong>Ultimo concierto </strong>
  <% if @group.last_concert != "no debut" %>

  <%= @group.last_concert.strftime("%Y-%B-%A") %>
    
  <% end %>
</p>

<p>
  <strong>Maximo de participantes </strong>
  <%= @group.qmaxparticipants %>
    
</p>

<p>
  <strong>Duración maxima </strong>
  <%= @group.qmaxduration %>
</p>

<!-- <p>
  <strong>Ultimo concierto</strong>
  <%=  %>
</p> -->


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
