<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @group.gender %>
</p>

<p>
  <strong>Cuantos conciertos este mes</strong>
  <%= @group.qmonth %>
</p>

<!-- <p>
  <strong>Ultimo concierto</strong>
  <%=  %>
</p> -->


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
